.layout {
    .react-grid-item {
        height: auto !important;
    }
}

/* When hovering container, force track visible */
.scroll-container:hover .custom-scrollbar-track {
  opacity: 1 !important;
}
