@import "tailwindcss";

.grid-background {
  background-color: #F7F2F2;
}

/* .grid-background {
  background-color: #F7F2F2;
  background-image: linear-gradient(
      to right,
      rgba(167, 82, 247, 0.082) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(167, 82, 247, 0.135) 1px, transparent 1px);
  background-size: 20px 20px;
  position: relative;
  overflow: hidden;
}

.grid-background::before,
.grid-background::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  background: rgba(167, 82, 247, 0.3);
  filter: blur(80px);
  z-index: 0;
  pointer-events: none;
}

.grid-background::before {
  top: -100px;
  left: -100px;
}

.grid-background::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
